mixin benefit(imgSrc,title,text)
    .benefit
        .row.row_benefit
            img(width="32px",height="32px",src=imgSrc)
            .benefit__title Benefit Title Here
        .benefit__text Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.
