.input
    .input__wrapper1
        .input__title SUBSCRIBE
        .input__text Don’t Miss Our Latest Offers & Promotions
    .input__wrapper2
        input(type="text", placeholder="Enter Your Email Here", class="input__field") 
        a(href="#", class="input__btn") SIGN UP
