.container{
    max-width: 960px;
    margin: 0px auto;
    position: relative;
    padding: 10px;
}


.container__text{
    color: #ffffff;
    line-height: 25.6px;
    margin-bottom: 25px;
}

.container__img_appstore{
    width: 306px;
    height: 76px;
    background:url("img/appstore.png") no-repeat center / cover;
}

.container__img_devices{
    width: 384px;
    height: 33vw;
    max-height: 415px;
    background:url("img/devices.png") no-repeat center / contain;
}

.container_w547{
    max-width: 547px;
}

.container_fenAndben{
    background-color: #fff;
    border-radius: 2%;
    padding: 40px 20px;
}

.container_features{
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 215px);
    grid-gap: 20px;
    width: 100%;
    justify-content: center;
}

.container_benefits{
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(auto-fill, 192px);
    grid-row-gap: 20px;
    grid-column-gap: 40px;
    justify-content: center;
    width: 100%;
}

.container_bg_white{
    background-color: white;
}

@media (max-width:1000px),(max-device-width:1000px) {
    .container_top{
        padding-top: 30px;
    }
}

@media (max-width:960px),(max-device-width:960px) {
    .container_top > .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__img_devices{
        width: 90%;
        margin-top: 20px;
        height: 60vw;
    }

    .container__img_appstore{
        margin: auto;
    }



}

@media (max-width:400px),(max-device-width:400px) {
    .container_fenAndben{
        padding: 40px 0px !important;
        border-radius: 0px;
    }

    .container_w547{
        padding: 0px;
    }
}
