footer.footer
    .footer__wrapper.row.row__footer
        .footer__inner.row
            .footer__col.footer__col_blog
                .footer__title FROM THE BLOG
                .footer__blog
                    .footer__subtitle Blog Post Title
                    .footer__author Posted by Admin on 00.00.0000
                    .footer__blog-text Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet.
                    a.footer__blog-link(href="#") Read More »
                    
            .footer__col.footer__col_links
                .footer__title QUICK LINKS
                a.footer__link(href="#") Link Text Here
                a.footer__link(href="#") Link Text Here
                a.footer__link(href="#") Link Text Here
                a.footer__link(href="#") Link Text Here
                a.footer__link(href="#") Link Text Here
            
        .footer__inner.row    
            .footer__col.footer__col_contact
                .footer__title CONTACT US
                .footer__text
                    | Company Name
                    | Street Name & Number
                    | Town
                    | Postcode/Zip
                    br
                    br
                    | Tel:
                    | xxxxx xxxxxxxxxx
                    br
                    br
                    | Fax:
                    | xxxxx xxxxxxxxxx
                    br
                    br
                    | Email:
                    | contact@mydomain.com
                    
            .footer__col.footer__col_social
                .footer__title SOCIALISE
                a.footer__social
                    img.footer__social-img(src="img/social.png")
                    .footer__text Facebook
                    
                a.footer__social
                    img.footer__social-img(src="img/social.png")
                    .footer__text Twitter
                    
                a.footer__social
                    img.footer__social-img(src="img/social.png")
                    .footer__text Photos on Flickr
                    
                a.footer__social
                    img.footer__social-img(src="img/social.png")
                    .footer__text RSS Feed
                    
            
