doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
            section.container.container_top
                .row.row_items_bottom
                    .container.container_w547
                        h2.title Cursus penati saccum.
                        .container__text This is a W3C standards compliant free PSD website template from OS Templates. This template is distributed using a Website Template Licence. For more free PSD templates visit OS-Templates.com
                        .container__img_appstore
                    .container__img_devices

    
        include ../blocks/footer/footer.jade
