noscript
    p Please enable Javascript
    
header.header
    .header__wrapper
        hgroup.header__logo
            h1.header__title smart app
            h3.header__subtitle Free PSD Website Template
        
        .nav__wrapper
            nav.header__nav
                a.header__link(href="") HOME
                a.header__link(href="") STYLE DEMO
                a.header__link(href="") FULL WIDTH
                a.header__link(href="") DROPDOWN
                a.header__link(href="") GALLERY
                
