.header__wrapper{
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    min-width: 280px;
    max-width: 280px;
    background-color: #b86365;
    padding: 54px 23px 59px 26px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.header__title{
    color: #ffffff;
    font-size: 41px;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 100;
    margin-bottom: 32px;
    text-align: center;
}

.header__subtitle{
    color: #fff;
    font-size: 12px;
    line-height: 13px;
    padding-left: 9px;
    margin: 0;
    margin-top: -5px;
    text-align: center;
}

.nav__wrapper{
    width: 100%;
    border-bottom: 1px solid  #666666;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

.header__nav{
    display: flex;
    max-width: 569px;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;
}

.header__link{
    padding: 50px 0px;
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    position: relative;
}

.header__link:hover{
    border-top: 5px solid #b86365;
    padding: 45px 0px;
}

.header__link:not(:last-child)::after{
    position: absolute;
    content: " |";
    right: -25%;
}

@media (max-width:1000px),(max-device-width:1000px) {
    .header__wrapper, .nav__wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:580px),(max-device-width:580px) {
    .header__nav{
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .header__link{
        margin: 0px 10px;
        padding: 20px 0px;
    }

    .header__link::after{
        content: "" !important;
    }
}
